//
//  Extension.base.xcconfig
//  research_xcconfig
//
//  Created by motoki kawakami on 2020/07/30.
//  Copyright © 2020 mothule. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SKIP_INSTALL = YES
TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @executable_path/../../Frameworks
INFOPLIST_FILE = today/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = jp.mothule.research-xcconfig.today
