//
//  UITest.xcconfig
//  research_xcconfig
//
//  Created by motoki kawakami on 2020/07/30.
//  Copyright © 2020 mothule. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
TEST_TARGET_NAME = research_xcconfig
TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
INFOPLIST_FILE = research_xcconfigUITests/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = jp.mothule.research-xcconfigUITests
